<div class="bottom-navbar navbar navbar-fixed-bottom">
    <div class="overlay-layer">
        <div id="bottom-navbar-text-content" class="container" >
            <div class="col-md-8 col-md-offset-2">
                <section class="bottom-navbar-text" id="copyright-section" >
                    &copy; Ren&eacute;e Slamka 2015
                </section>
                <section class="bottom-navbar-text" id="project-info-section" >
                    <a href="https://github.com/ReneeSlamka/BlogBoardServer">Blog Board on Github</a>
                </section>
            </div>
        </div>
    </div>
</div>