<nav class="top-navbar">
    <div class="overlay-layer">
        <div class="container">
            <div class="top-navbar-content-container">
                <a href="/">
                    <img class="logo" src="/static/img/logo.png">
                </a>
                <a id="top-navbar-text-logo" class="text-block white-text" href="/">
                    <section>
                        <span>B</span>log <span>B</span>oard
                    </section>
                </a>
                <div id="top-navbar-subtitle-container">
                    <section class="text-block subtitle white-text">
                        Connect.
                    </section>
                    <section class="text-block subtitle white-text">
                        Share.
                    </section>
                    <section class="text-block subtitle white-text">
                        Experience.
                    </section>
                    <button id="logout-button" onclick="logout()" id="create-account-button" type="submit" class="btn btn-default">
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>