<nav class="top-navbar">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 top-navbar-content-container">
            <a id="top-navbar-logo" class="text-block white-text" href="/">
                <section>
                    <span>B</span>log <span>B</span>oard
                </section>
            </a>
            <div id="top-navbar-subtitle-container">
                <section class="text-block subtitle white-text">
                    Connect.
                </section>
                <section class="text-block subtitle white-text">
                    Share.
                </section>
                <section class="text-block subtitle white-text">
                    Experience.
                </section>
            </div>
        </div>
    </div>
</nav>