
.login-page-button {
    margin-top: 15px;
}

.account-section {
    padding-top: 20px;
}

.account-section label {
    margin-top: 10px;
}

#create-account-response-text {
    display: none;
    margin-top: 15px;
    opacity: 0.7;
    background-color: rgba(119,244,90, 0.8);
    border-color: rgba(28,159,16, 0.8);
    color: rgba(0,0,0,0.7);
}