{% extends "layout.html" %}
{% set activePage = 'board' %}

{% block title %}{{boardName}}{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/board.css" />
{% endblock css %}

{%block headerJs %}
{% endblock headerJs %}

{% block js %}
{% endblock js %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div id="board-info-section">
                <h6 class="board-info" id="date-created">Created November 22nd, 2014 {{dateCreated}}</h6>
                <section id="list-board-members">
                    <h4 class="board-info">Board Members:</h4>
                    <div class="board-member">
                        <img class="user-avatar" src="https://www.tubestart.com/upload/thumb/user_4823_square.jpeg" />
                        <h5 class="board-info">JennaOlaff</h5>
                    </div>
                     <div class="board-member">
                        <img class="user-avatar" src="https://s-media-cache-ak0.pinimg.com/avatars/terenewen_1379143112_140.jpg" />
                        <h5 class="board-info">FionaMary</h5>
                    </div>
                     <div class="board-member">
                        <img class="user-avatar" src="https://relayfm.s3.amazonaws.com/uploads/user/avatar/61/user_avatar_simonederochefort_artwork.png" />
                        <h5 class="board-info">CaraWatson</h5>
                    </div>
                </section>
                <input type="text" class="form-control" id="member-username" size="40" />
                <button onclick="addMember()" id="add-member-button" type="submit" class="btn btn-default">
                    Add New Member
                </button>
                <section id="board-entry-months">
                    <h5>2015</h6>
                    <div class="list-months">
                        <h6>March</h6>
                        <h6>April</h6>
                        <h6>May</h6>
                        <h6>June</h6>
                        <h6>July</h6>
                        <h6>August</h6>
                        <h6>Septemeber</h6>
                        <h6>October</h6>
                        <h6>November</h6>
                        <h6>Decemeber</h6>
                    </div>
                    <h5>2014</h5>
                    <div class="list-months">
                        <h6>November</h6>
                        <h6>Decemeber</h6>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-md-7">
            <section id="post-section">
                <label>
                    New Post:
                </label>
                <input type="text" class="form-control" id="new-username" size="40" />
                <button onclick="" id="new-post-button" type="submit" class="btn btn-default">
                    Login
                </button>
            </section>
        </div>
    </div>
</div>
{% endblock content %}