{% extends "layout.html" %}

{% block title %}Welcome to Blog Board{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css" />
{% endblock %}

{% block js %}
<script src="resources/static/js/home-page-services.js"></script>
<script src="resources/static/js/board-services.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" id="home-greeting">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="red">Welcome to your home page <span id="home-username"></span></h1>
        </div>
    </div>
    <div class="row" id="home-page-boards-container">
        <div class="col-md-5" id="user-boards-section">
            <div class="row section-header">
                <i class="fa fa-pencil-square fa-2x"></i>
                <h3 class="header-text">Your Boards</h3>
            </div>
            <section id="owner-boards-list" class="boards-section">
                <h4>Boards You Created</h4>
                <h6 class="default-filler-text">You haven't created any boards yet</h6>
            </section>
            <section id="member-boards" class="boards-section">
                <h4>Boards You've Been Added To</h4>
                <h6 class="default-filler-text">You haven't been added to any boards yet</h6>
            </section>
            <button class="btn btn-default" id="create-account-button" type="button" data-toggle="modal"
                data-target="#create-board-form" onclick="displayModal()">
                Create Board
            </button>
        </div>
        <div class="col-md-6 col-md-offset-1" id="board-notifications">
            <div class="row section-header">
                <i class="fa fa-flag fa-2x"></i>
                <h3 class="header-text">Notifications</h3>
            </div>
            <ul>
                <li>Jeff posted in Uni Pals</li>
                <li>Mom added a photo in The Fam Jam</li>
                <li>Suzie added new member Alexa to The Girl Gang</li>
            </ul>
        </div>
    </div>
</div>

{% include 'create-board-form.html' %}
{% endblock %}