{% extends 'layout.html' %}

{% block title %}Welcome to Blog Board{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
{% endblock %}

{% block js %}
<script src="/static/js/account-service-call.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 id="login-greeting">Welcome to Blog Board!</h1>
            <p id="app-description">
                Keeping in touch your friends around the globe just got a whole lot easier.
                With Blog Board, you can share stories, photos and new experiences. It's easy!
                Sign up, create a board, invite your friends, and start posting!
            </p>

            <section class="account-services">
                <h3>Create a new account</h3>
                <div class="row account-service-form">
                    <div class="col-md-6">
                        <label>
                            Username:
                        </label>
                        <input type="text" class="form-control" id="new-username" size="40">
                        <label>
                            Password:
                        </label>
                        <input type="text" class="form-control" id="new-password" size="40">
                        <label>
                            Email:
                        </label>
                        <input type="email" class="form-control" id="new-email" size="40">
                        <button onclick="createAccount()" id="create-account-button" type="submit" class="btn btn-default account-service-button">
                            Create Account
                        </button>
                        <section id="create-account-response-text">
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row account-services">
        <div class="col-md-7 col-md-offset-3">
            <h3>Already have an account? Sign in below</h3>
            <div class="row account-service-form">
                <div class="col-md-6">
                    <label>
                        Username:
                    </label>
                    <input type="text" class="form-control" id="login-username" size="40">
                    <label>
                        Password:
                    </label>
                    <input type="text" class="form-control" id="login-password" size="40">
                    <button onclick="login()" id="login-button" type="submit" class="btn btn-default account-service-button">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}